<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

    <link href="css\normalize.css" rel="stylesheet">
    <link href="css\styles.css" rel="stylesheet">
</head>
<body>
    
    <header> 
        <img src="./images/logo-mercado-liebre.svg" alt="">
        <nav>

        </nav>
        <i class="fa-solid fa-magnifying-glass"></i>
        
          <p>Lugar para la barra de busquedas</p>
             <p>Compra en cuotas y sin tarjeta de credito</p>
        <ul>
            <li>Ofertas</li> 
            <li>Tiendas oficiales</li>
             <li>Vender</li>
             <li>Ayuda</li>
        </ul>
             <br>
        <ul> 
            <li>Crea tu cuenta</li> 
             <li>Ingresa</li>
             <li>Mis compras</li> </ul>
        
             <img src="./images/img-home-banner.jpg" alt="">

             <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
    

    </header>

<br>

    <main> 
        <h2>Basado en tu ultima visita</h2>
        <section>
            <img src="./images/img-cafetera-moulinex.jpg" alt="">
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>
            <br>
            <img src="./images/img-macbook-pro-2019.jpg" alt="">
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
            <br>
            <img src="./images/img-samsung-galaxy-s10.jpg" alt="">
            <p>$70.500</p>
            <p>10% off</p>
            <h4>Samsung Galaxy S10</h4>
            <br>
            <img src="./images/img-tv-samsung-smart.jpg" alt="">
            <p>$23.200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung  43"</h4>
        </section>
        <br>
        <section>
            <h2>Ofertas</h2>
            <img src="./images/img-cafetera-moulinex.jpg" alt="">
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>
            <br>
            <img src="./images/img-macbook-pro-2019.jpg" alt="">
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
            <br>
            <img src="./images/img-samsung-galaxy-s10.jpg" alt="">
            <p>$70.500</p>
            <p>10% off</p>
            <h4>Samsung Galaxy S10</h4>
            <br>
            <img src="./images/img-tv-samsung-smart.jpg" alt="">
            <p>$23.200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung  43"</h4>

        </section>
    </main>
<br>


    <footer>
        <ul> 
        <li>Paga con tarjeta o en efectivo</li>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <li>Envio gratis desde $2.500</li>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        <li>Seguridad, de principio a fin</li>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@ </p>

        <li>Copyright © 1999-2020 MercadoLiebre S.R.L. </li>

    </ul>
    <p class="parrafo destacado"> Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong>esto es un texto en negrita</strong> numquam reiciendis at quisquam quae autem quaerat cum, ipsum incidunt ea excepturi, repellat modi, debitis vero ab nostrum assumenda non ducimus? </p>

 </footer>
</body>
</html>